*~
*.pt
*.pth
*.log
*.npy
*.npz

*.png
*.jpg
*.jpeg

*.egg-info

.vim
.nvimlog
.DS_store
__pycache__
__vimswp__
__vimun__

/.cache
/.vscode

/data
/build
/guide
/examples
/lab/lab
/src/vault
/src/backbone
/src/datasets
/src/ori/weights
/src/ori/diffusers/references

# Specific
secret.key
